.header-nav {
    height: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.header-nav .header-nav-list {
    list-style-type: none;
    height: auto;
    display: flex;
    padding: 0;
    margin : 0;
}

.header-nav .header-nav-list .header-nav-items:hover {
    text-decoration: underline;
}